* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  width: 100vw;
}
nav {
  display: flex;
  position: fixed;
  background: none;
  top: 0;
  z-index: 100;
  width: 90vw;
  backdrop-filter: blur(15px);
  color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav h4 {
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
nav ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}
nav ul li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #000;
}
li #phone {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}
.sidebar{
  position: fixed;
  top: 0;
  right:0;
  height:100vh;
  width:250px;
  z-index:999;
  background-color: white;
  backdrop-filter:blur(10px);
  display: none;
  flex-direction:column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width:100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display:none;
}
header {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000;
  justify-content: center;
}
.header__background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -10;
  object-fit: cover;
}

.creative h3 {
  color: #fff;
  font-family: "Fraunces", serif;
  font-size: 22px;
  word-spacing: 10px;
  letter-spacing: 10px;
  text-align: center;
  line-height: 35px;
}
.creative img {
  width: 10px;
  height: 40px;
}
/*End of header*/

.transform {
  display: flex;
}
.brand {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 1350px;
}
div h4 {
  width: 100%;
  font-family: "Fraunces", serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.brand p,
.formula p {
  display: flex;
  flex-direction: column;
}
.image {
  background: url("./images/desktop/image-transform.jpg");
  width: 100%;
  height: 600px;
}

span {
  font-size: 12px;
  margin-top: 10px;
}
span a {
  color: black;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: bold;
}
/*End of transform*/

.audience {
  display: flex;
}
.formula {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  width: 1350px;
}
.standout {
  background: url("./images/desktop/image-stand-out.jpg");
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  object-fit: cover;
}
/*End of audience*/

.artwork {
  display: flex;
}
.design {
  background: url("./images/desktop/image-graphic-design.jpg");
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.business {
  background: url("./images/desktop/image-photography.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.graphics,
.graphic {
  margin-top: 200px;
  text-align: center;
  width: 250px;
}
.design h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
  color: #153d34;
}
.design p {
  font-size: 13px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 20px;
  color: #26574c;
}
.business h4 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 20px;
  color: #0a2530;
}
.business p {
  font-size: 13px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 20px;
  color: #061a23;
}
/*End of artwork*/

.testimonial {
  padding: 50px 0;
  text-align: center;
}
.recommendation {
  display: flex;
  padding: 40px 40px 0 40px;
}
.testimonial img {
  width: 50px;
  border-radius: 50px;
}
.testimonial p {
  font-family: "Barlow", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 20px;
  padding: 20px;
  color: #59626b;
}
.testimonial h3 {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 20px;
  color: #4d5253;
  letter-spacing: 3px;
}
.recommendation span {
  font-family: "Fraunces", serif;
  font-size: 12px;
  font-weight: bold;
  color: #24303d;
}
small {
  font-family: "Barlow", sans-serif;
  font-size: 10px;
  color: #787a7c;
}
/*End of testimonial*/

.gallery {
  display: flex;
}
.gallery img {
  width: 380px;
  object-fit: cover;
}
/*End of gallery*/

footer {
  height: 200px;
  padding: 30px;
  background-color: #458c7e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reach {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  color: #143830;
  margin-top: 10px;
}
footer ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  text-align: center;
}
footer li {
  color: #11322b;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  text-decoration: none;
}

footer .links {
  display: flex;
  padding: 10px;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin: 10px 0;
}
/*media query*/

@media screen and (max-width: 1500px) {
  nav h4 {
    font-size: 30px;
  }
  header {
    height: 50vh;
  }
  .header__background {
    height: 50vh;
  }

  /*End of header*/

  .transform {
    display: flex;
  }
  .brand {
    width: 80%;
  }

  /*End of transform*/

  .audience {
    width: 100%;
    display: flex;
  }

  .formula {
    width: 95%;
  }

  .standout img {
    width: 720px;
  }

  /*End of audience*/

  .artwork {
    width: 100%;
    display: flex;
  }

  /*End of artwork*/

  .gallery {
    display: flex;
  }

  .gallery img {
    width: 320px;
  }
}
/*End of 1500pc query*/

@media screen and (max-width: 1100px) {
  nav{
    width: 95%;
  }
  .standout,
  .image {
    width: 1100px;
    background-position: center;
  }
  .business,
  .design {
    background-position: center;
  }
  .gallery {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 950px) {
  .transform {
    flex-direction: column;
  }
  .media-height {
    height: 400px;
    width: 550px;
  }
  .image{
    width: 100%;
  }
  .audience {
    flex-direction: column-reverse;
  }
  .standout{
  display: none;
  }
  .artwork{
    flex-direction: column;
  }
  .business{
    height: 600px;
  }

 }


@media screen and (max-width: 650px) {

.hideOnMobile {
  display:none ;
}
.menu-button{
  display: block;
  margin: auto;
}
.sidebar{
  width: 100%;
  padding-top:30px;
}
nav ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: #000;
  display:flex ;
 justify-content: center;
 margin-bottom: 8px;
}

nav h4{
  font-size:14px;
}
 .brand{
width:400px;
}
.formula {
  width:400px;
} 
.recommendation{
  flex-direction: column;
}
}

@media screen and (max-width: 450px){  
  .menu-button {
      display: block;  
    }
  .brand {
      width: 200px;
    }
  
    .formula {
      width: 200px;
    }
}
